<%= render "shared/header" %>

<div class="d-flex flex-column align-items-center m-3 bg-light">
  <div class="bg-light m-4 d-flex justify-content-around">
    <div class="">
      <h2>評価結果</h2>
    </div>
    
    <div class="align-bottom p-2 ms-3"><h4>トータルスコア</h4></div>
    <div class="ms-3"><h3><%= @hdsr.total_score %></h3></div>
  </div>
  
  <div class="container">
    <div class="row border-bottom">
      <table class="row border-bottom border-top pt-2">
        <tbody class="mx-auto">
          <tr class="border-bottom">
            <th class="col-1 text-center">1</th>
            <td class="col-6">
              <h5>
                お年はいくつですか？（2年までの誤差は正解）
              </h5>
            </td>
            <td class="col-2">
            </td>
            <td class="col-3 text-center">
              <div class="d-flex flex-column bd-highlight mb-2"><%= @hdsr.answer_1 - 1 %></div>
            </td>
          </tr>

          <tr class="border-bottom">
            <th class="col-1 text-center">2</th>
            <td class="col-6">
              <h5>
                今日は何年の何月何日ですか？何曜日ですか？<br>
                （年月日、曜日が正解でそれぞれ1点ずつ）
              </h5>
            </td>
            <td class="col-2">
              <div class="text-end">年</div>
              <div class="text-end">月</div>
              <div class="text-end">日</div>
              <div class="text-end">曜日</div>
            </td>
            <td class="hdsr-value">
              <div class="text-center"><%= @hdsr.answer_2_1 - 1 %></div>
              <div class="text-center"><%= @hdsr.answer_2_2 - 1 %></div>
              <div class="text-center"><%= @hdsr.answer_2_3 - 1 %></div>
              <div class="text-center"><%= @hdsr.answer_2_4 - 1 %></div>
            </td>
          </tr>

          <tr class="border-bottom">
            <th class="col-1 text-center">3</th>
            <td class="col-6">
              <h5>
                私たちが今いるところはどこですか？<br>
                （自発的に出れば2点、5秒おいて家ですか？ 病院ですか？ 施設ですか？の中から正しい選択をすれば1点）
              </h5>
            </td>
            <td class="col-2">
            </td>
            <td class="hdsr-value">
              <div class="text-center"><%= @hdsr.answer_3 - 1 %></div>
            </td>
          </tr>
          
          <tr class="border-bottom">
            <th class="col-1 text-center">4</th>
            <td class="col-6">
              <h5>
                これから言う3つの言葉を言ってみてください。後で聞きますのでよく覚えておいてください。<br>
                （以下の系列でいずれか1つで、採用した系列を選択する）
              </h5>
            </td>
            <td class="col-2">
              <div class="text-end">a:</div>
              <div class="text-end">b:</div>
              <div class="text-end">c:</div>
            </td>
            <td class="hdsr-value">
              <div class="text-center"><%= @hdsr.answer_4_1 - 1%></div>
              <div class="text-center"><%= @hdsr.answer_4_2 - 1%></div>
              <div class="text-center"><%= @hdsr.answer_4_3 - 1%></div>
            </td>
          </tr>
          
          <tr class="border-bottom">
            <th class="col-1 text-center">5</th>
            <td class="hdsr-text">
              <div class="hdsr-question">
                <h5>
                  100から7を順番に引いてください。（100−7は？それからまた７を引くと？ と質問する。最初の答えが不正解の場合打ち切る）
                </h5>
              </div>
            </td>
            <td class="col-2">
              <div class="text-end">(93)</div>
              <div class="text-end">(86)</div>
            </td>
            <td class="hdsr-value">
              <div class="text-center"><%= @hdsr.answer_5_1 - 1 %></div>
              <div class="text-center"><%= @hdsr.answer_5_2 - 1 %></div>
            </td>
          </tr>

          <tr class="border-bottom">
            <th class="col-1 text-center">6</th>
            <td class="col-6">
              <div class="hdsr-question">
                <h5>
                  私がこれから言う数字を逆から言ってください。（6-8-2, 3-5-2-9）を逆に言ってもらう。3桁逆唱に失敗したら打ち切る）
                </h5>
              </div>
            </td>
            <td class="col-2">
              <div class="text-end">(2-8-6)</div>
              <div class="text-end">(9-2-5-3)</div>
            </td>
            <td class="text-center">
              <div class="text-center"><%= @hdsr.answer_6_1 - 1%></div>
              <div class="text-center"><%= @hdsr.answer_6_2 - 1%></div>
            </td>
          </tr>

          <tr class="border-bottom">
            <th class="col-1 text-center">7</th>
            <td class="col-6">
              <h5>
                先ほど覚えてもらった言葉をもう一度言ってみてください。<br>
                （自発的に回答があれば2点、もし回答がない場合は以下のヒントを与え正解であれば1点）<br>
                a)植物 b)動物 c)乗り物
              </h5>
            </td>
            <td class="col-2">
              <div class="text-end">a:</div>
              <div class="text-end">b:</div>
              <div class="text-end">c:</div>
            </td>
            <td class="text-center">
              <div class="text-center"><%= @hdsr.answer_7_1 - 1%></div>
              <div class="text-center"><%= @hdsr.answer_7_2 - 1%></div>
              <div class="text-center"><%= @hdsr.answer_7_3 - 1%></div>
            </td>
          </tr>

          <tr class="border-bottom">
            <th class="col-1 text-center">8</th>
            <td class="col-6">
              <h5>
                これから5つの品物を見せます。それを隠しますので何があったかを言ってください。<br>
                （時計、鍵、タバコ、ペン、硬貨など必ず相互に無関係なもの）
              </h5>
            </td>
            <td class="col-2">
            </td>
            <td class="text-center">
              <%= @hdsr.answer_8 - 1 %>
            </td>
          </tr>

          <tr class="border-bottom">
            <th class="col-1 text-center">9</th>
            <td class="col-6">
              <div class="hdsr-question">
                <h5>
                  知っている野菜の名前をできるだけ多く言ってください。（答えた野菜の名前を記入する。途中で詰まり、約10秒待ってもでない場合にはそこで打ち切る）<br>
                  0～5＝0点， 6＝1点， 7＝2点， 8＝3点，9＝4点， 10＝5点
                </h5>
              </div>
            </td>
            <td class="col-2">
            </td>
            <td class="text-center">
              <%= @hdsr.answer_9 - 1 %>
            </td>
          </tr>

        </tbody>
      </table>

      <div class="text-center">
        <%= link_to "削除", patient_hdsr_log_path(@hdsr_log.id), method: :delete, class:"btn btn-danger ps-4 pe-4 mt-3 mb-3" %>
        <%= link_to "戻る",patient_path(@hdsr_log.patient_id), class:"btn btn-info ps-4 pe-4 mt-3 mb-3 ms-3" %>
      </div>
    </div>
  </div>
</div>
<%= render "shared/second-footer" %>