<%= render "shared/header" %>

<div class='text-center bg-light'>
  <div class="bg-info d-flex flex-col justify-content-between p-3">
    <h1 class="text-light ms-5">利用者一覧</h1>
    <div class="btn btn-success rounded navbar-btn me-5 p-3">
      <%= link_to "利用者登録", new_patient_path, class: "text-light text-decoration-none" %>
    </div>
  </div>

  <div class="container">
    <table class="table table-hover overflow-auto" style="width: 100%;">
      
      <thead>
        <tr class="position-relative align-middle fs-3"  height="80">
          <th scope="col"><%= image_tag("account_icon.svg", size: '80x60') %></th>
          <th scope="col">患者名</th>
          <th scope="col">介護認定</th>
        </tr>
      </thead>
      
      <tbody>
        <% @patients.each do |patient| %>
          <div>
          <tr class="position-relative align-middle fs-5"  height="80">
            <td><%= image_tag("account_icon.svg", size: '80x60', class:"flex-shrink-0") %></td>
            <td><%= link_to patient.patient_last_name + " " + patient.patient_first_name + " 様", patient_path(patient.id), class:"text-decoration-none stretched-link text-reset" %></td>
            <td><%= patient.care_certified.name %></td>
          </tr>
          </div>
        <% end %>
      </tbody>

    </table>
  </div>
</div>

<%= render "shared/footer"%>
