<%= render "shared/header" %>

<div class="container d-flex flex-row justify-content-around">
  <div class="flex-grow-1 me-3">
    <h2>
      <%= @patient.patient_last_name + @patient.patient_first_name + "様" %>
    </h2>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">担当者</th>
          <td class="detail-value"><%= @patient.user.last_name %></td>
        </tr>
        <tr>
          <th class="detail-item">誕生日</th>
          <td class="detail-value"><%= @patient.birthday %></td>
        </tr>
        <tr>
          <th class="detail-item">性別</th>
          <td class="detail-value"><%= @patient.gender.name %></td>
        </tr>
        <tr>
          <th class="detail-item">介護認定</th>
          <td class="detail-value"><%= @patient.care_certified.name %></td>
        </tr>
        <tr>
          <th class="detail-item">住所</th>
          <td class="detail-value"><%= @patient.prefecture.name %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="flex-grow-1 border-start m-1">
    <div class="d-flex justify-content-around">
      <h3>
        認知機能評価日一覧
      </h3>
      <%= link_to "評価する", patient_hdsr_logs_path(@patient.id), class:"btn btn-info ps-4 pe-4 mb-1" %>
    </div>
    <div class="overflow-auto" style="height: 300px;">
      <% @hdsr_logs.each do |hdsr_log| %>
        <div class="rounded-pill border border-3 p-1 table table-striped table-hover mb-1 d-flex position-relative ">
          <h6 class="mx-auto">
            <%= link_to hdsr_log.created_at.strftime("%Y年 %m月 %d日") , patient_hdsr_log_path(@patient.id, hdsr_log.id), class:"text-decoration-none stretched-link" %>
          </h6>
        </div>
      <% end %>
    </div>
  </div>

</div>
<div class="d-flex justify-content-center">
  <% if current_user.id == @patient.user_id %>
    <%= link_to "削除", patient_path(@patient.id), method: :delete, class:"btn btn-danger ps-4 pe-4 mt-3 mb-3" %>
  <% end %>
  <%= link_to "戻る", "/", class:"btn btn-info ps-4 pe-4 mt-3 mb-3 ms-3"%>
</div>
<%= render "shared/footer"%>
